@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-large;
	color: #CCCCCC;
}
body {
	background-color: #000000;
}

.foot {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: x-small;
    font-family: 'helvetica';
    text-transform: uppercase;
    
}
a:link {
	color: #CCCCCC;	
    text-decoration: none;
}

a:visited {
	color: #CCCCCC;	
    text-decoration: none;
}

a:active {
	color: #33333;	
    text-decoration: none;
}

a:hover {
    color: #33333;
    text-decoration: underline;
}

.reload{
	font-size:small;
	font-color: #FFFFFF;
	font-style:normal;
}
.body {
	font-size: medium;
	
}