<html>
<head>
<!--Created by Ross-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maslo</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<script src="../js/actors_one.js" type="text/javascript"></script>
<script src="../js/actors_two.js" type="text/javascript"></script>
<script src="../js/relationship.js" type="text/javascript"></script>
<script src="../js/emotion.js" type="text/javascript"></script>
<script src="../js/modify.js" type="text/javascript"></script>



</head>
<body>
<center>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!--
	Table version in progress
<table>
  <tr>
    <th><sub>Actor 1</sub></th>
    <th><sub>Actor 2</sub></th>
  </tr>
  <tr>
    <td>
<script type="text/javascript">
document.write(actors_one [increment_one]);
</script>
    </td>
    <td>
<script type="text/javascript">
document.write(actors_two [increment_two]);
</script>
    </td>
  </tr>
  <tr>
    <td colspan="2"><sub>Relationship between actors</sub></td>
  </tr>
  <tr>
    <td colspan="2">
<script type="text/javascript">
document.write(relationship [increment]);
</script>
    </td>
  </tr>
  <tr>
    <td colspan="2"><sub>Sender Emotion</sub></td>
  </tr>
  <tr>
    <td colspan="2">
<script type="text/javascript">
document.write(emotion [increment_emo]);
</script>
    </td>
  </tr>
</table>
-->




<script type="text/javascript">
document.write(actors_one [increment_one]);
document.write(" ");
document.write(actors_two [increment_two]);
document.write("<br>");
document.write(relationship [increment]);
document.write(" ");
document.write(modify [increment_mod]);
document.write("<br>");
document.write(emotion [increment_emo]);
</script>





<br />
<br />
<p class="reload">
<a href="/">generate new</a>
</p>

</p>
</center>
</body>
</html>
