<html>
<head>
<!--Created by Ross-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maslo</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<script src="../js/actors_one.js" type="text/javascript"></script>
<script src="../js/actors_two.js" type="text/javascript"></script>
<script src="../js/relationship.js" type="text/javascript"></script>
<script src="../js/emotion.js" type="text/javascript"></script>


</head>
<body>
<center>
<p>&nbsp;</p>
<p>&nbsp;</p>

<script type="text/javascript">
document.write(actors_one [increment_one]);
document.write(" ");
document.write(actors_two [increment_two]);
document.write("<br>");
document.write(relationship [increment]);
document.write("<br>");
document.write(emotion [increment_emo]);
</script>






<p class="reload">
<a href="/">Generate</a>
</p>

</p>
</center>
</body>
</html>
